/* RGB */

$title-color: rgba(115, 175, 200, 1);
$nav-color: rgba(167, 176, 202, 1);
$color3: rgba(247, 243, 212, 1);
$color4: rgba(213, 220, 28, 1);
$color5: rgba(112, 0, 0, 1);

/* Font families */

$title-font: 'Sacramento', cursive;
$def-font: 'Quattrocento Sans', sans-serif;
$notes: 'Maven Pro', 'sans-serif';

/* Font sizes */

$nav-size: 20px;
$def-size: 16px;
