@import 'vars';

.about {
  text-align: center;
  max-width: 75%;
  margin: 24px auto;
  h2 {
    color: $title-color;
    font-size: $nav-size;
    font-weight: 400;
    margin: 4px 0;
    &:hover {
      color: darken($title-color, 20%);
      cursor: pointer;
    }
  }
  p {
    padding: 12px;
    border: 1px $title-color solid;
  }

  .collapsed {
    height: 0px;
    visibility: hidden;
  }
}
