@import 'vars';

.ibox {
  display: inline-block;
  width: 48%;
  vertical-align: top;

  h2 {
    width: 100%;
    text-align: center;
  }
  label,
  input {
    /* in order to define widths */
    display: inline-block;
    font-size: 18px;
  }

  label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
    margin: 12px 16px 12px 0;
  }

  input {
    width: 60%;
    padding: 4px;
  }

  label + input {
    margin: 6px 0;
  }
}

label.top {
  vertical-align: top;
}
label.center {
  text-align: center;
  vertical-align: center;
  width: 100%;
}

.imgDrop {
  display: inline-block;
  border: 1px gray dashed;
  width: 40%;
  height: 180px;
  padding: 8px;
  vertical-align: center;
  text-align: center;

  img {
    border: none;
    width: auto;
    height: auto;
    padding: 0px;
    max-width: 60%;
    max-height: 60%;
  }
}

.imgAccept {
  border: 1px green solid;
}

.imgReject {
  border: 1px red solid;
  color: 'white';
  background-color: rgba($color: #ff0000, $alpha: 0.5);
}
