<<<<<<< HEAD
footer {
  display: block;
  clear: both;
  padding: 24px 0 0 12px;
  text-align: center;
  font-size: 14px;
}
=======
footer {
  display: block;
  clear: both;
  padding: 24px 0 0 12px;
  text-align: center;
  font-size: 14px;
}
>>>>>>> 8ac8812580362e23c6ed1602d7374f60ce56c6e6
