@import 'vars';

header {
  text-align: center; // background-color: gray;
  h1 {
    margin: 12px 0 24px 0;
    font-family: $title-font;
    font-size: 4*$def-size;
    font-weight: 500;
    color: $title-color;
    // color: red;
    text-align: center;
  }
  nav {
    ul {
      text-align: right;
    }
    li {
      display: inline;
      padding: 0 12px 0 8px;
      font-size: $nav-size;
      color: $nav-color;
      &:hover {
        color: darken($nav-color, 40%);
      }
    }
  }
}
