@import 'vars';
@import 'styles';
$arrow-color: rgba(115, 175, 200, 0.7);

h2.match {
  margin: 0;
  font-family: $title-font;
  font-size: 2vw;
  border-bottom: solid 1px black;
  width: 100%;
  font-weight: 400;
  text-align: center;
  // border: solid 1px blue;
}

.contact {
  color: $title-color;
  margin: 4px 0 0 0;
  // border: solid 1px blue;
  text-align: right;
  ul {
    display: block;
  }
  li {
    display: inline;
    padding: 0 4px;
    font-size: $nav-size;
    &:hover {
      cursor: pointer;
      color: darken($title-color, 20%);
    }
  }
}

.box {
  display: inline-block;
  box-sizing: border-box;
  max-width: 45%;
  padding: 24px;
  vertical-align: middle;
  height: 100%;
}

.wine {
  vertical-align: top;
  text-align: right;
}

.arrow {
  height: 100%;
  display: inline-block;
  font-size: 40px;
  color: $arrow-color;
  // border: solid 1px blue;
  &:hover {
    color: lighten($arrow-color, 20%);
    cursor: pointer;
  }
}
