// /* RGB */

// $title-color: rgba(115, 175, 200, 1);
// $nav-color: rgba(167, 176, 202, 1);
// $color3: rgba(247, 243, 212, 1);
// $color4: rgba(213, 220, 28, 1);
// $color5: rgba(112, 0, 0, 1);

// /* Font families */

// $title-font: 'Sacramento', cursive;
// $def-font: 'Quattrocento Sans', sans-serif;
// $notes: 'Maven Pro', 'sans-serif';

// /* Font sizes */

// $nav-size: 20px;
// $def-size: 16px;

@import 'vars';

body {
  font-family: $def-font;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.info {
  margin-top: 24px;
  p {
    margin: 0;
    padding: 2px 16px;
  }
  .producer {
    font-weight: 600;
  }
  .details {
    color: gray;
    font-size: 0.8 * $def-size;
  }
}

.notes {
  font-family: $notes;
  line-height: 1.25 * $def-size;
}

.hidden {
  visibility: hidden;
}
