.wine {
  vertical-align: top;
  text-align: right;
  .label {
    display: inline-block;
    max-width: 45%;
    max-height: 40%;
  }
  img {
    // max-width: 40%;
    // width: auto;
    // height: auto;
  }
}
